    <article>
        <section class="row">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading"><span>Set-up</span></div>
                <div class="panel-body">
                  <span>Input your user id here and press 'enter'.</span>
                  <form data-ng-submit="$state.go('quiz', {'uid':uid})">
                    <input type="text" class="form-control" title="submitbutton" data-ng-model="uid" ng-disabled="ready" placeholder="User id, eg. abcdef123">
                  </form>
                  <div ng-if="readError" class="alert alert-danger">
                    <p>Unable to read a file under that user id. Please check whether the user id is correct.</p>
                  </div>
                  <div ng-if="stage === 'finished' && !readError && !ready" class="alert alert-danger">
                    <p>You've already submitted a 'before' and 'after' quiz for this user id! You're finished :)</p>
                  </div>
                  <div ng-if="!readError && (stage === 'quizAPending' || stage === 'quizBPending')" style="margin-top:21px" class="alert alert-info" ng-switch="stage">
                    <span ng-switch-when="quizAPending"><span>After an opportunity to practice, you will be completing quiz <strong>1</strong> out of 2 (the before-studying quiz, which gauges your current level of vocabulary comprehension).</span></span>
                    <span ng-switch-when="quizBPending"><span>After an opportunity to practice, you will be completing quiz <strong>2</strong> out of 2 (the after-studying quiz, which gauges whether your vocabulary comprehension improved after study).</span></span>
                    <span ng-switch-when="finished"><span>You've already submitted a 'before' and 'after' quiz for this user id! You're finished :)</span></span>
                    <span ng-switch-default>Stage not recognised.</span>
                  </div>
                  <!-- <button ng-click="add()">Add</button> -->
                </div>
              </div>
            </div>
        </section>

        <section ng-if="ready" class="row">
          <div class="col-xs-12">
            <div class="panel panel-default" style="margin-bottom: 0px;">
                <div class="panel-heading"><span>Practice area: sample kanji test</span></div>
                <div class="panel-body">
                  <p>Answer each question in the <strong>Questions</strong> column <em>(in this case consisting of four kanji-related questions)</em> by dragging across the corresponding information for it from the <strong>Choices</strong> column <em>(in this case consisting of six dictionary definitions)</em>. Incorrect answers do not subtract from score.</p>
                  
                  
                  <div class="alert alert-info">
                    <span><strong>How to read the dictionary definitions: </strong>Each word (for this example, '初期') may have multiple senses such as (1) 'early' (days); or (2) 'initial'. Each sense may additionally have multiple ways to be phrased, which are separated by a bullet point, eg: "early (days)・initial stage".</span><br>
                    <span><strong>Glossary for proper noun definitions: </strong>[given] = given name; [fem] = female name; [masc] = masculine name; [surname] = surname; [place] = place name; and [unclass] = unclassified.</span>
                  </div>

                  <div class="col-xs-12">

                    <div class="col-xs-6">
                        <h4>Questions</h4>
                          <ol>
                            <li ng-repeat="question in sampleTestr.qus">
                              <span ng-bind="question.info"></span>

                              <!-- Buckets -->
                              <div class="simpleDemo well well-sm"> <!-- $index = that of 'question', or 'i' in tier.kanjiQuiz.qus[i] -->
                                <ul dnd-list="sampleTestr.answers[$index].bucket"
                                    dnd-allowed-types="sampleTestr.allowedTypes"
                                    dnd-disable-if="sampleTestr.answers[$index].bucket.length >= 1">
                                    <!-- the bucket is an array of tentative answers. -->

                                    <li ng-repeat="bucketContent in sampleTestr.answers[$index].bucket"
                                        dnd-draggable="bucketContent"
                                        dnd-type="sampleTestr.eleType"
                                        dnd-moved="sampleTestr.answers[$parent.$index].bucket.splice($index, 1)"
                                        dnd-effect-allowed="move"
                                        >
                                        {{bucketContent.target}}
                                    </li>

                                    <li class="dndPlaceholder">
                                        <em>You may drop your choice here.</em>
                                    </li>
                                </ul>
                              </div>

                            </li>
                          </ol>
                          
                        <span>Score: </span><span ng-bind="calculateTestScore(sampleTestr.qus, sampleTestr.answers)"></span><br>
                        <div class="progress">
                          <div class="progress-bar progress-bar-success" style="width: {{calculateTestScore(sampleTestr.qus, sampleTestr.answers) * 25}}%"></div>
                        </div>
                      </div>

                      <div class="col-xs-6">
                        <!-- The draggable list of targets -->
                        <h4>Choices</h4>
                        <div class="simpleDemo well well-sm">
                          <ul dnd-list="sampleTestrw.qus"
                              dnd-allowed-types="sampleTestrw.allowedTypes"
                              dnd-disable-if="sampleTestrw.qus.length >= sampleTestrw.qus.max">

                              <li ng-repeat="question in sampleTestrw.qus"
                                  dnd-draggable="question"
                                  dnd-type="sampleTestrw.eleType"
                                  dnd-moved="sampleTestrw.qus.splice($index, 1)"
                                  dnd-effect-allowed="move"
                                  >
                                  {{question.target}}
                              </li>

                              <li class="dndPlaceholder">
                                  <em>You may return your choice here.</em>
                              </li>
                          </ul>
                        </div>

                        <span><em>^ Note that there are usually more choices than questions. Also, choices can be returned to the <strong>Choices</strong> column at any time.</em></span>
                      </div>
                    </div>

                      
                  </div>
                </div>
                      <div class="alert" ng-class="{'alert-info': calculateTestScore(sampleTestr.qus, sampleTestr.answers) < 4, 'alert-success': calculateTestScore(sampleTestr.qus, sampleTestr.answers) == 4 }">
                        <span>Once you understand how to operate this quiz, please click the 'OK' button to proceed to the real quiz. Please note that it is not timed: </span>
                        <button type="submit" style="margin-left: 1em;" class ="btn btn-default" ng-click="$parent.practised = true" ng-disabled="practised">OK</button>
                      </div>
            </div>
          </div>
        </section>

        <!-- The quiz (strictly only one of quizA or quizB) -->
        <section ng-if="ready && practised" class="row">
          <div class="col-xs-12">
            <!-- <h1>Quiz score: <span ng-bind="calculateQuizScore(r)"></span></h1> -->
            <div class="panel panel-primary" ng-repeat="tier in r">
            <!-- <div class="panel panel-primary"> -->
              <div class="panel-heading">
                <!-- <h3 class="panel-title">Tier <span ng-bind="$index + 1"></span></h3> -->
                <h3 class="panel-title">

                  <span ng-switch="$index">
                    <span ng-switch-when="0"><span>Tier one: 50th percentile of word usage</span></span>
                    <span ng-switch-when="1"><span>Tier two: 50th-75th percentile of word usage</span></span>
                    <span ng-switch-when="2"><span>Tier three: 75th-88th percentile of word usage</span></span>
                    <span ng-switch-when="3"><span>Tier four: 88th-94th percentile of word usage</span></span>
                    <span ng-switch-default>Tier <span ng-bind="$index +1"/>: [undefined percentile of word usage]</span>
                  </span>

                </h3>
              </div>
              <div class="panel-body">
                <!-- Tier score: <span ng-bind="calculateTierScore(tier)"></span> -->

                <!-- Kanji test (all tiers) -->
                <div ng-repeat="test in tier.tests">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <!-- <span ng-bind="test.testType"></span> test -->
                      <span ng-switch="test.testType">
                        <span ng-switch-when="kanji"><span>Kanji test</span></span>
                        <span ng-switch-when="pron"><span>Pronunciation test</span></span>
                        <span ng-switch-when="def"><span>Definition test</span></span>
                        <span ng-switch-default>Undefined test</span>
                      </span>
                    </div>

                    <div class="panel-body">

                    <div ng-if="test.qus.length === 0" class="alert alert-dismissible alert-info">
                      <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
                      <span><small><em>This test contains no questions – this is because too few eligible words (eg. ones with unambiguous definitions) were found to create a test with, for the size of the vocabulary list generated and the amount of filtering applied. Don't worry – no points will be lost here!</em></small></span>
                    </div>

                    <!-- <span><i>Answer the questions by dragging the appropriate choice into each question's answer slot.</i></span> -->
                      <!-- The list of infos -->
                      <div class="col-xs-6">
                        <h4>Questions</h4>
                          <ol>
                            <li ng-repeat="question in test.qus">
                              <span ng-bind="question.info"></span>

                              <!-- Buckets -->
                              <div class="simpleDemo well well-sm"> <!-- $index = that of 'question', or 'i' in tier.kanjiQuiz.qus[i] -->
                                <ul dnd-list="test.answers[$index].bucket"
                                    dnd-allowed-types="test.allowedTypes"
                                    dnd-disable-if="test.answers[$index].bucket.length >= 1">
                                    <!-- the bucket is an array of tentative answers. -->

                                    <li ng-repeat="bucketContent in test.answers[$index].bucket"
                                        dnd-draggable="bucketContent"
                                        dnd-type="test.eleType"
                                        dnd-moved="test.answers[$parent.$index].bucket.splice($index, 1)"
                                        dnd-effect-allowed="move"
                                        >
                                        {{bucketContent.target}}
                                    </li>

                                    <li class="dndPlaceholder">
                                        <em>You may drop your choice here.</em>
                                    </li>
                                </ul>
                              </div>

                            </li>
                          </ol>
                          <!-- <span>Test score: </span>[<span ng-bind="calculateTestScore(test.qus, test.answers)"></span>] -->
                      </div>

                      <div class="col-xs-6">
                        <!-- The draggable list of targets -->
                        <h4>Choices</h4>
                        <div class="simpleDemo well well-sm">
                          <ul dnd-list="rw[$parent.$index].tests[$index].qus"
                              dnd-allowed-types="rw[$parent.$index].tests[$index].allowedTypes"
                              dnd-disable-if="rw[$parent.$index].tests[$index].qus.length >= rw[$parent.$index].tests[$index].qus.max">

                              <li ng-repeat="question in rw[$parent.$index].tests[$index].qus"
                                  dnd-draggable="question"
                                  dnd-type="rw[$parent.$parent.$index].tests[$parent.$index].eleType"
                                  dnd-moved="rw[$parent.$parent.$index].tests[$parent.$index].qus.splice($index, 1)"
                                  dnd-effect-allowed="move"
                                  >
                                  {{question.target}}
                              </li>

                              <li class="dndPlaceholder">
                                  <em>You may return your choice here.</em>
                              </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </section>

        <section ng-if="ready && practised && stage === 'quizBPending'">
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-primary">
                <div class="panel-heading">Feedback</div>
                <div class="panel-body">
                  <p>If you have finished the quiz above, please complete this short feedback form before submitting your results.</p>

                  <div class="row">
                    <div class="col-xs-12">
                      <div class="panel panel-default">
                        <div class="panel-heading">The vocabulary list</div>
                        <div class="panel-body">
                          <p>These next questions will concern the vocabulary list. Note that a score of '3' given for any question is a neutral response (ie. "neither agree nor disagree").</p>
                          <dl class="dl-horizontal">

                            <div class="controlRow-s">
                              <dt>Was it easy to use and navigate?</dt>
                              <dd>
                                <div class="col-xs-4">
                                  <label style="font-weight:normal">
                                    <span class="col-xs-12" style="text-align:center;">No comment</span>
                                    <span class="col-xs-12" style="text-align:center; line-height:0px;"><input type="radio" ng-model="formData.ease" ng-click="formData.ease = 0" value="0"></span><br>
                                    <span class="col-xs-12" style="text-align:center;"><small><em>(skips question)</em></small></span>
                                  </label>
                                </div>
                                <div class="col-xs-8">
                                  <span class="col-xs-6">←Hard</span>
                                  <span class="col-xs-6" style="text-align:right;" ng-style="">Easy→</span>
                                  <slider class="col-xs-12" ng-class="{'nocomment': formData.ease === 0}" ng-model="formData.ease" min="1" step="1" max="4" ticks="[1, 2, 3, 4, 5]" ticks-labels='[1, 2, 3, 4, 5]'></slider>
                                </div>
                              </dd>
                            </div>

                            <div class="controlRow-s">
                              <dt>Regardless of the quiz results, do you feel it helped you understand the topic?</dt>
                              <dd>
                                <div class="col-xs-4">
                                  <label style="font-weight:normal">
                                    <span class="col-xs-12" style="text-align:center;">No comment</span>
                                    <span class="col-xs-12" style="text-align:center; line-height:0px;"><input type="radio" ng-model="formData.helpedLearn" ng-click="formData.helpedLearn = 0" value="0"></span><br>
                                    <span class="col-xs-12" style="text-align:center;"><small><em>(skips question)</em></small></span>
                                  </label>
                                </div>
                                <div class="col-xs-8">
                                  <span class="col-xs-6">←Hindered</span>
                                  <span class="col-xs-6" style="text-align:right;" ng-style="">Helped→</span>
                                  <slider class="col-xs-12" ng-class="{'nocomment': formData.helpedLearn === 0}" ng-model="formData.helpedLearn" min="1" step="1" max="4" ticks="[1, 2, 3, 4, 5]" ticks-labels='[1, 2, 3, 4, 5]'></slider>
                                </div>
                                <small class="helpy"><em>'Hindered' would mean that you could have spent the time better by learning in another way.</em></small>
                              </dd>
                            </div>

                            <div class="controlRow-s">
                              <dt>What do you feel improves your understanding of a topic more: studying with this system, or trying to read articles/texts directly?</dt>
                              <dd>
                                <div class="col-xs-4">
                                  <label style="font-weight:normal">
                                    <span class="col-xs-12" style="text-align:center;">No comment</span>
                                    <span class="col-xs-12" style="text-align:center; line-height:0px;"><input type="radio" ng-model="formData.effectiveness" ng-click="formData.effectiveness = 0" value="0"></span><br>
                                    <span class="col-xs-12" style="text-align:center;"><small><em>(skips question)</em></small></span>
                                  </label>
                                </div>
<!--                                 <div class="col-xs-3">
                                  <label style="font-weight:normal">
                                    <span class="col-xs-12" style="text-align:center;">Incomparable</span>
                                    <span class="col-xs-12" style="text-align:center; line-height:0px;"><input type="radio" ng-model="formData.effectiveness" ng-click="formData.effectiveness = -1" value="-1"></span><br>
                                    <span class="col-xs-12" style="text-align:center;"><small><em>(eg. you never study technical/topic-specific vocabulary)</em></small></span>
                                  </label>
                                </div> -->
                                <div class="col-xs-8">
                                  <span class="col-xs-6">←Direct reading</span>
                                  <span class="col-xs-6" style="text-align:right;" ng-style="">This system→</span>
                                  <slider class="col-xs-12" ng-class="{'nocomment': formData.effectiveness < 1}" ng-model="formData.effectiveness" min="1" step="1" max="4" ticks="[1, 2, 3, 4, 5]" ticks-labels='[1, 2, 3, 4, 5]'></slider>
                                </div>
                                <!-- <small class="helpy"><em>I would not classify studying for the JLPT as studying 'technical'</em></small> -->
                              </dd>
                            </div>

                            <div class="controlRow-s">
                              <dt>Would you use it again in the future?</dt>
                              <dd>
                                <div class="col-xs-4">
                                  <label style="font-weight:normal">
                                    <span class="col-xs-12" style="text-align:center;">No comment</span>
                                    <span class="col-xs-12" style="text-align:center; line-height:0px;"><input type="radio" ng-model="formData.useAgain" ng-click="formData.useAgain = 0" value="0"></span><br>
                                    <span class="col-xs-12" style="text-align:center;"><small><em>(skips question)</em></small></span>
                                  </label>
                                </div>
                                <div class="col-xs-8">
                                  <span class="col-xs-6">←Definitely not</span>
                                  <span class="col-xs-6" style="text-align:right;" ng-style="">Definitely→</span>
                                  <slider class="col-xs-12" ng-class="{'nocomment': formData.useAgain === 0}" ng-model="formData.useAgain" min="1" step="1" max="4" ticks="[1, 2, 3, 4, 5]" ticks-labels='[1, 2, 3, 4, 5]'></slider>
                                </div>
                              </dd>
                            </div>

                          </dl>

                        </div>
                      </div>
                    </div>
                  </div>

                  
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="panel panel-default">
                        <div class="panel-heading">The idea</div>
                        <div class="panel-body">
                          <p>The idea.</p>

                          <dl class="dl-horizontal">
                            <div class="controlRow-s">
                              <dt>How much did you study from the list before taking this quiz?</dt>
                              <dd>
                                <label class="radio"><input type="radio" ng-model="formData.effort" value="nocomment">No comment<p><em>(skips question)</em></p></label>
                                <label class="radio"><input type="radio" ng-model="formData.effort" value="brief">0-29 minutes<p><em>(eg. looked briefly through the list, then soon afterwards took the test)</em></p></label>
                                <label class="radio"><input type="radio" ng-model="formData.effort" value="some">30-59 minutes<p><em>(eg. crammed for the test)</em></p></label>
                                <label class="radio"><input type="radio" ng-model="formData.effort" value="high">One or more hours (can be spread over multiple days)<p><em>(eg. reinforced memory over several sessions of revision for the test)</em></p></label>
                                <label class="radio"><input type="radio" ng-model="formData.effort" value="other">Other</label>
                              </dd>
                            </div>
                          </dl>

                          
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="alert alert-info">
                    <span>Once you have completed the feedback form, please press 'OK' to continue to the final step: results submission.</span>
                    <button type="submit" style="margin-left: 1em;" class ="btn btn-default" ng-click="$parent.feedbackPending = false" ng-disabled="!$parent.feedbackPending">OK</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </section>

        <section ng-if="ready && practised && !feedbackPending">
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-primary">
                <div class="panel-heading">Submission of results</div>
                <div class="panel-body">
                  <span>Once you have finished the quiz, press 'submit' to send your answers to the researcher.</span>
                  <button type="submit" style="margin-left: 1em;" class ="btn btn-info" ng-click="reportScores()" ng-disabled="reportSent">Submit</button>
                  <div ng-if="reportSent">
                    <div ng-if="!postmanError && stage === 'quizAPending'" class="alert alert-success">
                      <p>Test results successfully submitted.</p>
                      <!-- <p>Your user id is: <span ng-bind="uid"></span></p> -->
                      <p>Proceed to part 2/3: <a href="#/list?uid={{uid}}" class="alert-link">Access the vocabulary list from which to study here!</a></p>
                    </div>
                    <div ng-if="!postmanError && stage === 'quizBPending'" class="alert alert-success">
                      <p>Test results successfully submitted.</p>
                      <!-- <p>Your user id is: <span ng-bind="uid"></span></p> -->
                      <p>You've finished the study! Thank you very much :)</p>
                    </div>

                    <div ng-if="postmanError" class="alert alert-danger">
                      <p>Submission of test results failed.</p>
                    </div>

                  </div>

                </div>

              </div>
            </div>
          </div>
        </section>
    </article>