    <article>
        <section class="row">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading"><span>Set-up</span></div>
                <div class="panel-body">
                  <span>Input your user id here and press 'enter'.</span>
                  <form data-ng-submit="read(uid)">
                    <input type="text" class="form-control" title="submitbutton" data-ng-model="uid" ng-disabled="ready" placeholder="User id, eg. abcdef123">
                  </form>
                  <div ng-if="readError" class="alert alert-danger">
                    <p>Unable to read a file under that user id. Please check whether the user id is correct.</p>
                  </div>
                  <!-- <button ng-click="add()">Add</button> -->
                </div>
              </div>
            </div>
        </section>

        <!-- The quiz (strictly only one of quizA or quizB) -->
        <section ng-if="ready" class="row">
          <div class="col-xs-12">
            <h1>Quiz score: <span ng-bind="calculateQuizScore(r)"></span></h1>
            <div class="panel panel-primary" ng-repeat="tier in r">
            <!-- <div class="panel panel-primary"> -->
              <div class="panel-heading">
                <!-- <h3 class="panel-title">Tier <span ng-bind="$index + 1"></span></h3> -->
                <h3 class="panel-title">

                  <span ng-switch="$index">
                    <span ng-switch-when="0"><span>Tier one: 50th percentile of word usage</span></span>
                    <span ng-switch-when="1"><span>Tier two: 50th-75th percentile of word usage</span></span>
                    <span ng-switch-when="2"><span>Tier three: 75th-88th percentile of word usage</span></span>
                    <span ng-switch-when="3"><span>Tier four: 88th-94th percentile of word usage</span></span>
                    <span ng-switch-default>Tier <span ng-bind="$index +1"/>: [undefined percentile of word usage]</span>
                  </span>

                </h3>
              </div>
              <div class="panel-body">
                Tier score: <span ng-bind="calculateTierScore(tier)"></span>

                <!-- Kanji test (all tiers) -->
                <div ng-repeat="test in tier.tests">
                  <div class="panel panel-default">
                    <div class="panel-heading"><span ng-bind="test.testType"></span> test</div>
                    <div class="panel-body">

                    <div ng-if="test.qus.length === 0" class="alert alert-dismissible alert-info">
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                      <span><small><em>This test contains no questions – this is because too few eligible words (eg. ones with unambiguous definitions) were found to create a test with, for the size of the vocabulary list generated and the amount of filtering applied. Don't worry – no points will be lost here!</em></small></span>
                    </div>

                    <!-- <span><i>Answer the questions by dragging the appropriate choice into each question's answer slot.</i></span> -->
                      <!-- The list of infos -->
                      <div class="col-xs-6">
                        <h4>Questions</h4>
                          <ol>
                            <li ng-repeat="question in test.qus">
                              <span ng-bind="question.info"></span>

                              <!-- Buckets -->
                              <div class="simpleDemo well well-sm"> <!-- $index = that of 'question', or 'i' in tier.kanjiQuiz.qus[i] -->
                                <ul dnd-list="test.answers[$index].bucket"
                                    dnd-allowed-types="test.allowedTypes"
                                    dnd-disable-if="test.answers[$index].bucket.length >= 1">
                                    <!-- the bucket is an array of tentative answers. -->

                                    <li ng-repeat="bucketContent in test.answers[$index].bucket"
                                        dnd-draggable="bucketContent"
                                        dnd-type="test.eleType"
                                        dnd-moved="test.answers[$parent.$index].bucket.splice($index, 1)"
                                        dnd-effect-allowed="move"
                                        >
                                        {{bucketContent.target}}
                                    </li>

                                    <li class="dndPlaceholder">
                                        Drop any <strong>{{test.allowedTypes.join(' or ')}}</strong> here
                                    </li>
                                </ul>
                              </div>

                            </li>
                          </ol>
                          <span>Test score: </span>[<span ng-bind="calculateTestScore(test.qus, test.answers)"></span>]
                      </div>

                      <div class="col-xs-6">
                        <!-- The draggable list of targets -->
                        <h4>Choices</h4>
                        <div class="simpleDemo well well-sm">
                          <ul dnd-list="rw[$parent.$index].tests[$index].qus"
                              dnd-allowed-types="rw[$parent.$index].tests[$index].allowedTypes"
                              dnd-disable-if="rw[$parent.$index].tests[$index].qus.length >= rw[$parent.$index].tests[$index].qus.max">

                              <li ng-repeat="question in rw[$parent.$index].tests[$index].qus"
                                  dnd-draggable="question"
                                  dnd-type="rw[$parent.$parent.$index].tests[$parent.$index].eleType"
                                  dnd-moved="rw[$parent.$parent.$index].tests[$parent.$index].qus.splice($index, 1)"
                                  dnd-effect-allowed="move"
                                  >
                                  {{question.target}}
                              </li>

                              <li class="dndPlaceholder">
                                  Drop any <strong>{{rw[$parent.$index].tests[$index].allowedTypes.join(' or ')}}</strong> here
                              </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </section>
    </article>