<nav>
      <div class="row">
          <div class="col-xs-12">
              <form data-ng-submit="submit(mySearch)">
                  <div class="input-group">
                      <input type ="text" data-ng-model="mySearch" class="form-control" title="submitbutton"/> <!-- This input field's value is bound to $scope.mySearch -->
                          <span class="input-group-btn">
                              <input type="submit" name = "button1" value = "" class ="btn"/>
                          </span>
                  </div>
              </form>
          </div>
      </div>
    </nav>
    <article>
        <section class="row">
            <div class="col-xs-12">
                <input type="checkbox" id="fundamental" ng-model="fundChecked"/> Fundamental
                <input type="checkbox" id="n5" ng-model="n5Checked"/> N5
                <input type="checkbox" id="n4" ng-model="n4Checked"/> N4
                <input type="checkbox" id="n3" ng-model="n3Checked"/> N3
                <input type="checkbox" id="n2" ng-model="n2Checked"/> N2
                <input type="checkbox" id="n1" ng-model="n1Checked"/> N1
            </div>
            <div class="col-xs-12">
                <slider ng-model="sliders.sliderValue" min="testOptions.min" step="testOptions.step" max="testOptions.max" value="testOptions.value"></slider>
            </div>
        </section>
        <section class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table" rules=rows>
                            <thead>
                                <tr>
                                    <th class="alpha" >Token</th>
                                    <th class="alpha" >Definition</th>
                                    <th class="alpha">Info</th>
                                    <th class="number">Lone</th>
                                    <th class="number">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <pre ng-bind="item.vocabListRowCumulative.isolatePercent"/> -->
                                <tr class="ruled"
                                ng-repeat="item in x
                                | filter:fundamentalsFilter
                                | filter:n1Filter
                                | filter:n2Filter
                                | filter:n3Filter
                                | filter:n4Filter
                                | filter:n5Filter"
                                >
                                    <td class="alpha tokens-column"  ng-bind="item.bf"/>
                                    <!-- <td class="alpha"  ng-bind="item.defs"/> -->
                                    <!-- ng-bind binds the model (def) to the view (p.value) -->
                                    <td class="alpha definitions-column">
                                      <table class="definitions">
                                        <tbody>
                                          <tr ng-repeat="def in item.defs">
                                            <td>
                                              <span ng-switch="def.indexOf('Search off-site at:') === -1">
                                                <span ng-switch-when="true">
                                                  <span ng-bind="def"></span>
                                                </span>
                                              
                                                <span ng-switch-default>
                                                  <span ng-switch="def.indexOf('more results hidden.') === -1">
                                                    <span ng-switch-when="true">
                                                      No definitions found in dictionary. Search in all dictionaries at:
                                                      <a ng-href="{{def.split('Search off-site at:')[1]}}">WWWJDIC</a>.
                                                    </span>

                                                    <span ng-switch-default>
                                                      <span ng-bind="def.split('more results hidden. Search off-site at:')[0]"></span>
                                                      more result(s) hidden. Search all possible proper nouns off-site at:
                                                      <a ng-href="{{def.split('more results hidden. Search off-site at:')[1]}}">WWWJDIC</a>.
                                                    </span>
                                                  </span>
                                                </span>
                                              </span>

                                            </td>
                                          </tr>
                                          <tr class="eg" ng-repeat="eg in item.exampleSentences">
                                            <td>
                                              <span ng-bind-html="parseSentence(eg)"/>
                                              <!-- <span ng-bind-html="eg"></span> -->
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>

                                    <td class="alpha info-column">
                                    <!-- For all other cases, label is 'at the very least' styled as label-default. -->
                                      <div
                                        class="label label-default"
                                        ng-class="{
                                        'label-primary': item.pos === 'noun'
                                          || item.pos === 'proper noun',
                                        'label-warning': item.pos === 'particle',
                                        'label-success': item.pos === 'verb',
                                        'label-info': item.pos === 'adverb'
                                          || item.pos === 'conjunction'
                                          || item.pos === 'adjective'
                                        }"
                                        ng-bind="item.pos"></div>
                                      <div class="label label-default" ng-show="item.fundamental">f</div>
                                      <div class="label label-default" ng-show="item.n5">n5</div>
                                      <div class="label label-default" ng-show="item.n4">n4</div>
                                      <div class="label label-default" ng-show="item.n3">n3</div>
                                      <div class="label label-default" ng-show="item.n2">n2</div>
                                      <div class="label label-default" ng-show="item.n1">n1</div>
                                      <div class="label label-default" ng-show="!(item.n1 || item.n2 || item.n3 || item.n4 || item.n5 || item.fundamental)">+</div>
                                    </td>
                                    <!-- http://stackoverflow.com/questions/16134391/restrict-number-of-decimals-in-html5-type-number-input-field-with-angularjs-m -->
                                    <td class="number percent-column"  ng-bind="{{ 100 * item.iso | number : 2}} + '%'"/>
                                    <td class="number percent-column" ng-bind="{{ 100 * item.cumu | number : 2}} + '%'"/>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </article>

    <!-- <article class="ng-hide houdini" data-ng-show="kanjidicReadingResults.length &amp;&amp; !hideMe">
      <h2>Results</h2>
      <section class="row">
          <div class="col-xs-12">
              <div class="panel panel-default">
                  <div class="panel-body">
                      <div class="definition-left-column">
                          <span class="massive" data-ng-bind="searchQuery"></span>
                      </div>
                      <div class="definition-right-column">
                      <h3 class="my-panel-heading">Kanji</h3>
                          <dl class="dl-vertical">
                              <dt>Meaning</dt>
                              <dd>
                                <span data-ng-repeat="readingIterator in kanjidicDefinitionResults track by $index">
                                    <span data-ng-bind="readingIterator"></span><span data-ng-hide="$last">, </span>
                                </span>
                              </dd>
                              <dt>Reading</dt>
                              <dd>
                                  <span data-ng-repeat="readingIterator in kanjidicReadingResults track by $index">
                                    <span data-ng-bind="readingIterator"></span><span data-ng-hide="$last">, </span>
                                  </span>
                              </dd>
                          </dl>
                      </div>
                  </div>
              </div>
          </div>
      </section>

      <section class="row">
          <div class="col-xs-12">
              <div class="panel panel-default">
                  <div class="panel-body">
                      <h3 class="my-panel-heading">Study data</h3>
                      <dl class="dl-horizontal">
                        <dt>Frequency</dt>
                        <dd data-ng-bind="kanjidicFrequencyResults"></dd>
                        <dt>Stroke</dt>
                        <dd data-ng-bind="kanjidicStrokeResults"></dd>
                        <dt>JLPT Level</dt>
                        <dd data-ng-bind="kanjidicJlptResults"></dd>
                        <dt>Grade</dt>
                        <dd data-ng-bind="kanjidicGradeResults"></dd>
                      </dl>
                  </div>
              </div>
            </div>
      </section>

      <section class="row">
          <div class="col-xs-12">
              <div class="panel panel-default">
                  <div class="panel-body">
                      <h3 class="my-panel-heading">Extra information</h3>
                      <dl class="dl-horizontal">
                          <dt>Henshall page</dt>
                          <dd data-ng-bind="hkanjiPageOnlyResult"></dd>
                          <dt>Henshall index</dt>
                          <dd data-ng-bind="hkanjiIndexOnlyResult"></dd>
                          <dt>Unicode</dt>
                          <dd data-ng-bind="hkanjiCodePointOnlyResult.unicode"></dd>
                          <dt>JIS</dt>
                          <dd data-ng-bind="hkanjiCodePointOnlyResult.jis"></dd>
                      </dl>
                  </div>
              </div>
          </div>
      </section>
    </article> -->

<!--     <footer class="footer">
      <section class="row">
        <div class="col-xs-12">
          <div class="copyright panel panel-default">
            <div class="panel-body">
              <h3 class="my-panel-heading">Examples</h3>
              <p>
                <a href="javascript:void(0);" data-ng-click="submit('和')">和</a>
                <a href="javascript:void(0);" data-ng-click="submit('神')">神</a>
                <a href="javascript:void(0);" data-ng-click="submit('電')">電</a>
                <a href="javascript:void(0);" data-ng-click="submit('桜')">桜</a>
                <a href="javascript:void(0);" data-ng-click="submit('恩')">恩</a>
                <a href="javascript:void(0);" data-ng-click="submit('漢')">漢</a>
                <a href="javascript:void(0);" data-ng-click="submit('数')">数</a>
                <a href="javascript:void(0);" data-ng-click="submit('算')">算</a>
                <a href="javascript:void(0);" data-ng-click="submit('機')">機</a>
                <a href="javascript:void(0);" data-ng-click="submit('愛')">愛</a> -->
                <!-- href referring to a dummy JS call allows hand cursor to appear -->
<!--               </p>
            </div>
          </div>
        </div>
      </section>
    </footer> -->