<nav>
      <div class="row">
          <div class="col-xs-12">
              <form data-ng-submit="submit(mySearch)">
                  <div class="input-group">
                      <input type ="text" data-ng-model="mySearch" class="form-control" title="submitbutton"/> <!-- This input field's value is bound to $scope.mySearch -->
                          <span class="input-group-btn">
                              <input type="submit" name = "button1" value = "" class ="btn"/>
                          </span>
                  </div>
              </form>
          </div>
      </div>
    </nav>
    <article>
    <!-- The control sliders -->
        <section class="row">
            <div class="col-xs-12">
                <span class="col-xs-3"></span>
                <span class="col-xs-3"><- (faster, but less data)</span>
                <span class="col-xs-3"></span>
                <span class="col-xs-3" style="text-align:right;">(slower, but more data) -></span>
                <span class="col-xs-3">Cumulative total ≤ <span ng-bind="limit"></span>%</span>
                <slider class="col-xs-9" ng-model="limit" min="50" step="5" max="100"></slider>
                <span class="col-xs-3">Max* = <span ng-bind="partition"></span> results</span>
                <slider class="col-xs-9" ng-model="partition" min="0" step="50" max="250"></slider>
                <span class="col-xs-3">Minimum frequency* ≥ <span ng-bind="minyield"></span>%</span>
                <slider class="col-xs-9" ng-model="minyield" min="0.00" step="0.01" max="0.20"></slider>
                <span class="col-xs-3">Example sentences ≤ <span ng-bind="egs"></span></span>
                <slider class="col-xs-9" ng-model="egs" min="0" step="1" max="3"></slider>
                <span class="col-xs-3">Articles ≤ <span ng-bind="maxArticles"></span></span>
                <slider class="col-xs-9" ng-model="maxArticles" min="1" step="1" max="10"></slider>
                <span class="col-xs-3">Pre-filtering ≤ <span ng-bind="filteringEnum(filtering)"></span></span>
                <slider class="col-xs-9" tooltip="hide" ng-model="filtering" ticks="[0, 1, 2, 3, 4, 5, 6]"
                ticks-labels='["mandatory", "fundamental", "N5", "N4", "N3", "N2", "N1"]'></slider>
                <span class="col-xs-12" style="font-style:italic;">* Setting to zero fetches all.</span>
            </div>
        </section>
        <!-- The display checkboxes -->
        <section class="row">
            <div class="col-xs-12">
                <div class="col-xs-6">
                  <p>Display tokens of ability level: </p>
                  Fundamental <input type="checkbox" id="fundamental" ng-model="fundChecked"/>
                  N5 <input type="checkbox" id="n5" ng-model="n5Checked"/>
                  N4 <input type="checkbox" id="n4" ng-model="n4Checked"/>
                  N3 <input type="checkbox" id="n3" ng-model="n3Checked"/>
                  N2 <input type="checkbox" id="n2" ng-model="n2Checked"/>
                  N1 <input type="checkbox" id="n1" ng-model="n1Checked"/>
                </div>
                <div class="col-xs-6">
                  <p>Display all example sentences: </p>
                  <input type="checkbox" id="egbox" ng-model="showEg"/>
                </div>
            </div>
        </section>
        <!-- The table of tokens, definitions, etc. -->
        <section class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table" rules=rows>
                            <thead>
                                <tr>
                                    <th class="alpha" >Token</th>
                                    <th class="alpha" >Definition</th>
                                    <th class="alpha">Info</th>
                                    <th class="number">Lone</th>
                                    <th class="number">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <pre ng-bind="item.vocabListRowCumulative.isolatePercent"/> -->
                                <tr class="ruled"
                                ng-repeat="item in x
                                | filter:fundamentalsFilter
                                | filter:n1Filter
                                | filter:n2Filter
                                | filter:n3Filter
                                | filter:n4Filter
                                | filter:n5Filter"
                                >
                                    <td class="alpha tokens-column"  ng-bind="item.bf"/>
                                    <!-- <td class="alpha"  ng-bind="item.defs"/> -->
                                    <!-- ng-bind binds the model (def) to the view (p.value) -->
                                    <td class="alpha definitions-column">
                                      <table class="definitions">
                                        <tbody>
                                          <tr ng-repeat="def in item.defs">
                                            <td>
                                              <span ng-switch="def.indexOf('Search off-site at:') === -1">
                                                <span ng-switch-when="true">
                                                  <span ng-bind="def"></span>
                                                </span>
                                              
                                                <span ng-switch-default>
                                                  <span ng-switch="def.indexOf('more results hidden.') === -1">
                                                    <span ng-switch-when="true">
                                                      No definitions found in dictionary. Search in all dictionaries at:
                                                      <a ng-href="{{def.split('Search off-site at:')[1]}}">jisho.org</a>.
                                                    </span>

                                                    <span ng-switch-default>
                                                      <span ng-bind="def.split('more results hidden. Search off-site at:')[0]"></span>
                                                      more result(s) hidden. Search all possible proper nouns off-site at:
                                                      <a ng-href="{{def.split('more results hidden. Search off-site at:')[1]}}">WWWJDIC</a>.
                                                    </span>
                                                  </span>
                                                </span>
                                              </span>

                                            </td>
                                          </tr>
                                          <tr class="eg" ng-repeat="eg in item.exampleSentences">
                                            <td>
                                              <!-- there is a global default showEg, but we also attach an overriding showEg to the row's item' object. -->
                                              <a href="javascript:void(0);" ng-click="item.showEg = !item.showEg" ng-if="$first && !item.showEg && !$last && !showEg"> [Show more]</a>
                                              <a href="javascript:void(0);" ng-click="item.showEg = !item.showEg" ng-if="$first && item.showEg && !showEg"> [Show less]</a>
                                              <span ng-if="$first || item.showEg || showEg" ng-bind-html="parseSentence(eg)"></span>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>

                                    <td class="alpha info-column">
                                    <!-- For all other cases, label is 'at the very least' styled as label-default. -->
                                      <div
                                        class="label label-default"
                                        ng-class="{
                                        'label-primary': item.pos === 'noun'
                                          || item.pos === 'proper noun',
                                        'label-warning': item.pos === 'particle',
                                        'label-success': item.pos === 'verb',
                                        'label-info': item.pos === 'adverb'
                                          || item.pos === 'conjunction'
                                          || item.pos === 'adjective'
                                        }"
                                        ng-bind="item.pos"></div>
                                      <div class="label label-default" ng-show="item.fundamental">f</div>
                                      <div class="label label-default" ng-show="item.n5">n5</div>
                                      <div class="label label-default" ng-show="item.n4">n4</div>
                                      <div class="label label-default" ng-show="item.n3">n3</div>
                                      <div class="label label-default" ng-show="item.n2">n2</div>
                                      <div class="label label-default" ng-show="item.n1">n1</div>
                                      <div class="label label-default" ng-show="!(item.n1 || item.n2 || item.n3 || item.n4 || item.n5 || item.fundamental)">+</div>
                                    </td>
                                    <!-- http://stackoverflow.com/questions/16134391/restrict-number-of-decimals-in-html5-type-number-input-field-with-angularjs-m -->
                                    <td class="number percent-column"  ng-bind="{{ 100 * item.iso | number : 2}} + '%'"/>
                                    <td class="number percent-column" ng-bind="{{ 100 * item.cumu | number : 2}} + '%'"/>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <!-- The quiz (strictly only one of quizA or quizB) -->
        <section class="row">
          <!-- Kanji test (all tiers) -->
          <div class="col-xs-6">
          <!-- Could iterate lists with <div ng-repeat="list in lists" class="col-md-4"></div> instead of accessing as lists[0] -->
 <!--            <div class="typesDemo">
              <ul dnd-list="lists[0].people"
                  dnd-allowed-types="lists[0].allowedTypes"
                  dnd-disable-if="lists[0].people.length >= lists[0].max">

                  <li ng-repeat="person in lists[0].people"
                      dnd-draggable="person"
                      dnd-type="person.type"
                      dnd-disable-if="person.type == 'unknown'"
                      dnd-moved="lists[0].people.splice($index, 1)"
                      dnd-effect-allowed="move"
                      class="background-{{person.type}}"
                      >
                      <dnd-nodrag>
                        <div dnd-handle class="handle">:::</div>
                        <div class="name">
                            <input type="text" ng-model="person.name" class="background-{{person.type}} form-control input-sm">
                        </div>
                      </dnd-nodrag>
                  </li>

                  <li class="dndPlaceholder">
                      Drop any <strong>{{lists[0].allowedTypes.join(' or ')}}</strong> here
                  </li>
              </ul>
            </div> -->

            <!-- The list of infos [under construction] -->
            <span ng-repeat="question in y.tierOne.kanjiQuiz.quiz">
              <!-- Everything below this <p> is broken.  -->
              <!-- Refer to: http://jsfiddle.net/kashjs/n2gxobf7/ [Empty 'My basket' array]
                             http://jsfiddle.net/rniemeyer/qwgrf/ [Trashcan]
                             http://fiddle.jshell.net/marmotz/83gbS/light/ [?]
                             http://marceljuenemann.github.io/angular-drag-and-drop-lists/demo/#/nested [docs] -->
              <!-- Fillable containers: https://plnkr.co/edit/9OTy70KZZwavIWClIgvY?p=preview -->
              <!-- <p ng-bind="question.info"></p> -->


              <ul ng-model="groups[0]"
                  class="groups"
                  dnd-list="groups[0].items">
                  <li class="title">{{question.info}}</li>
                  <li ng-repeat="item in groups[0].items">{{ item.target }}</li>
              </ul>
            </span>
          </div>
          <div class="col-xs-6">

            <!-- The draggable list of targets -->
            <div class="typesDemo">

              <ul dnd-list="y.tierOne.kanjiQuiz.quiz"
                  dnd-allowed-types="y.tierOne.kanjiQuiz.allowedTypes"
                  dnd-disable-if="y.tierOne.kanjiQuiz.quiz.length >= y.tierOne.kanjiQuiz.quiz.max">

                  <li ng-repeat="question in y.tierOne.kanjiQuiz.quiz"
                      dnd-draggable="question"
                      dnd-type="question.type"
                      dnd-moved="y.tierOne.kanjiQuiz.quiz.splice($index, 1)"
                      dnd-effect-allowed="move"
                      class="background-man"
                      >
                      {{question.target}}
<!--                       <dnd-nodrag>
                        <div dnd-handle class="handle">:::</div>
                        <div class="name">
                            <input type="text" ng-model="question.target" class="background-man form-control input-sm">
                        </div>
                      </dnd-nodrag> -->
                  </li>

                  <li class="dndPlaceholder">
                      Drop any <strong>{{y.tierOne.kanjiQuiz.allowedTypes.join(' or ')}}</strong> here
                  </li>
              </ul>


            </div>
          </div>

          
        </section>
    </article>

    <!-- <article class="ng-hide houdini" data-ng-show="kanjidicReadingResults.length &amp;&amp; !hideMe">
      <h2>Results</h2>
      <section class="row">
          <div class="col-xs-12">
              <div class="panel panel-default">
                  <div class="panel-body">
                      <div class="definition-left-column">
                          <span class="massive" data-ng-bind="searchQuery"></span>
                      </div>
                      <div class="definition-right-column">
                      <h3 class="my-panel-heading">Kanji</h3>
                          <dl class="dl-vertical">
                              <dt>Meaning</dt>
                              <dd>
                                <span data-ng-repeat="readingIterator in kanjidicDefinitionResults track by $index">
                                    <span data-ng-bind="readingIterator"></span><span data-ng-hide="$last">, </span>
                                </span>
                              </dd>
                              <dt>Reading</dt>
                              <dd>
                                  <span data-ng-repeat="readingIterator in kanjidicReadingResults track by $index">
                                    <span data-ng-bind="readingIterator"></span><span data-ng-hide="$last">, </span>
                                  </span>
                              </dd>
                          </dl>
                      </div>
                  </div>
              </div>
          </div>
      </section>

      <section class="row">
          <div class="col-xs-12">
              <div class="panel panel-default">
                  <div class="panel-body">
                      <h3 class="my-panel-heading">Study data</h3>
                      <dl class="dl-horizontal">
                        <dt>Frequency</dt>
                        <dd data-ng-bind="kanjidicFrequencyResults"></dd>
                        <dt>Stroke</dt>
                        <dd data-ng-bind="kanjidicStrokeResults"></dd>
                        <dt>JLPT Level</dt>
                        <dd data-ng-bind="kanjidicJlptResults"></dd>
                        <dt>Grade</dt>
                        <dd data-ng-bind="kanjidicGradeResults"></dd>
                      </dl>
                  </div>
              </div>
            </div>
      </section>

      <section class="row">
          <div class="col-xs-12">
              <div class="panel panel-default">
                  <div class="panel-body">
                      <h3 class="my-panel-heading">Extra information</h3>
                      <dl class="dl-horizontal">
                          <dt>Henshall page</dt>
                          <dd data-ng-bind="hkanjiPageOnlyResult"></dd>
                          <dt>Henshall index</dt>
                          <dd data-ng-bind="hkanjiIndexOnlyResult"></dd>
                          <dt>Unicode</dt>
                          <dd data-ng-bind="hkanjiCodePointOnlyResult.unicode"></dd>
                          <dt>JIS</dt>
                          <dd data-ng-bind="hkanjiCodePointOnlyResult.jis"></dd>
                      </dl>
                  </div>
              </div>
          </div>
      </section>
    </article> -->

<!--     <footer class="footer">
      <section class="row">
        <div class="col-xs-12">
          <div class="copyright panel panel-default">
            <div class="panel-body">
              <h3 class="my-panel-heading">Examples</h3>
              <p>
                <a href="javascript:void(0);" data-ng-click="submit('和')">和</a>
                <a href="javascript:void(0);" data-ng-click="submit('神')">神</a>
                <a href="javascript:void(0);" data-ng-click="submit('電')">電</a>
                <a href="javascript:void(0);" data-ng-click="submit('桜')">桜</a>
                <a href="javascript:void(0);" data-ng-click="submit('恩')">恩</a>
                <a href="javascript:void(0);" data-ng-click="submit('漢')">漢</a>
                <a href="javascript:void(0);" data-ng-click="submit('数')">数</a>
                <a href="javascript:void(0);" data-ng-click="submit('算')">算</a>
                <a href="javascript:void(0);" data-ng-click="submit('機')">機</a>
                <a href="javascript:void(0);" data-ng-click="submit('愛')">愛</a> -->
                <!-- href referring to a dummy JS call allows hand cursor to appear -->
<!--               </p>
            </div>
          </div>
        </div>
      </section>
    </footer> -->