<nav>
      <div class="row">
          <div class="col-xs-12">
              <form data-ng-submit="submit(mySearch)">
                  <div class="input-group">
                      <input type ="text" data-ng-model="mySearch" class="form-control" title="submitbutton"/> <!-- This input field's value is bound to $scope.mySearch -->
                          <span class="input-group-btn">
                              <input type="submit" name = "button1" value = "" class ="btn"/>
                          </span>
                  </div>
              </form>
          </div>
      </div>
    </nav>
    <article>
    <!-- The list of articles. -->
        <section class="row">
            <div class="col-xs-12">
              <textarea class="form-control" rows="3" ng-model="articles.join('\n')" placeholder="articles to come."></textarea>
            </div>
        </section>
    <!-- The control sliders -->
        <section class="row">
            <div class="col-xs-12">
                <span class="col-xs-3"></span>
                <span class="col-xs-3"><- (faster, but less data)</span>
                <span class="col-xs-3"></span>
                <span class="col-xs-3" style="text-align:right;">(slower, but more data) -></span>

                <div class="controlRow">
                  <span class="col-xs-3">Make quiz = <span ng-bind="makeQuiz"></span></span>
                  <div class="col-xs-9">
                    <label class="radio-inline">
                      <input type="radio" type="radio" ng-model="makeQuiz" data-ng-value="false"> false
                    </label>
                    <label class="radio-inline">
                      <input type="radio" type="radio" ng-model="makeQuiz" data-ng-value="true"> true
                    </label>
                  </div>
                </div>
                <div class="controlRow">
                  <span class="col-xs-3">Cumulative total ≤ <span ng-bind="limit"></span>%</span>
                  <slider class="col-xs-9" ng-model="limit" min="50" step="5" max="100"></slider>
                </div>
                <div class="controlRow">
                  <span class="col-xs-3">Max* = <span ng-bind="partition"></span> results</span>
                  <slider class="col-xs-9" ng-model="partition" min="0" step="50" max="250"></slider>
                </div>
                <div class="controlRow">
                  <span class="col-xs-3">Minimum frequency* ≥ <span ng-bind="minyield"></span>%</span>
                  <slider class="col-xs-9" ng-model="minyield" min="0.00" step="0.01" max="0.20"></slider>
                </div>
                <div class="controlRow">
                  <span class="col-xs-3">Example sentences ≤ <span ng-bind="egs"></span></span>
                  <slider class="col-xs-9" ng-model="egs" min="0" step="1" max="3"></slider>
                </div>
                <div class="controlRow">
                  <span class="col-xs-3">Articles ≤ <span ng-bind="maxArticles"></span></span>
                  <slider class="col-xs-9" ng-model="maxArticles" min="1" step="1" max="10"></slider>
                </div>
                <div class="controlRow">
                <span class="col-xs-3">Pre-filtering ≤ <span ng-bind="filteringEnum(filtering)"></span></span>
                <slider class="col-xs-9" tooltip="hide" ng-model="filtering" ticks="[0, 1, 2, 3, 4, 5, 6]"
                ticks-labels='["mandatory", "fundamental", "N5", "N4", "N3", "N2", "N1"]'></slider>
                </div>
                <span class="col-xs-12" style="font-style:italic;">* Setting to zero fetches all.</span>
            </div>
        </section>
        <!-- The display checkboxes -->
        <section class="row">
            <div class="col-xs-12">
                <div class="col-xs-6">
                  <p>Display tokens of ability level: </p>
                  Fundamental <input type="checkbox" id="fundamental" ng-model="fundChecked"/>
                  N5 <input type="checkbox" id="n5" ng-model="n5Checked"/>
                  N4 <input type="checkbox" id="n4" ng-model="n4Checked"/>
                  N3 <input type="checkbox" id="n3" ng-model="n3Checked"/>
                  N2 <input type="checkbox" id="n2" ng-model="n2Checked"/>
                  N1 <input type="checkbox" id="n1" ng-model="n1Checked"/>
                </div>
                <div class="col-xs-6">
                  <p>Display all example sentences: </p>
                  <input type="checkbox" id="egbox" ng-model="showEg"/>
                </div>
            </div>
        </section>
        <!-- The table of tokens, definitions, etc. -->
        <section class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table" rules=rows>
                            <thead>
                                <tr>
                                    <th class="alpha" >Token</th>
                                    <th class="alpha" >Definition</th>
                                    <th class="alpha">Info</th>
                                    <th class="number">Lone</th>
                                    <th class="number">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <pre ng-bind="item.vocabListRowCumulative.isolatePercent"/> -->
                                <tr class="ruled"
                                ng-repeat="item in x
                                | filter:fundamentalsFilter
                                | filter:n1Filter
                                | filter:n2Filter
                                | filter:n3Filter
                                | filter:n4Filter
                                | filter:n5Filter"
                                >
                                    <td class="alpha tokens-column"  ng-bind="item.bf"/>
                                    <!-- <td class="alpha"  ng-bind="item.defs"/> -->
                                    <!-- ng-bind binds the model (def) to the view (p.value) -->
                                    <td class="alpha definitions-column">
                                      <table class="definitions">
                                        <tbody>
                                          <tr ng-repeat="def in item.defs">
                                            <td>
                                              <span ng-switch="def.indexOf('Search off-site at:') === -1">
                                                <span ng-switch-when="true">
                                                  <span ng-bind="def"></span>
                                                </span>
                                              
                                                <span ng-switch-default>
                                                  <span ng-switch="def.indexOf('more results hidden.') === -1">
                                                    <span ng-switch-when="true">
                                                      No definitions found in dictionary. Search in all dictionaries at:
                                                      <a ng-href="{{def.split('Search off-site at:')[1]}}">jisho.org</a>.
                                                    </span>

                                                    <span ng-switch-default>
                                                      <span ng-bind="def.split('more results hidden. Search off-site at:')[0]"></span>
                                                      more result(s) hidden. Search all possible proper nouns off-site at:
                                                      <a ng-href="{{def.split('more results hidden. Search off-site at:')[1]}}">WWWJDIC</a>.
                                                    </span>
                                                  </span>
                                                </span>
                                              </span>

                                            </td>
                                          </tr>
                                          <tr class="eg" ng-repeat="eg in item.exampleSentences">
                                            <td>
                                              <!-- there is a global default showEg, but we also attach an overriding showEg to the row's item' object. -->
                                              <a href="javascript:void(0);" ng-click="item.showEg = !item.showEg" ng-if="$first && !item.showEg && !$last && !showEg"> [Show more]</a>
                                              <a href="javascript:void(0);" ng-click="item.showEg = !item.showEg" ng-if="$first && item.showEg && !showEg"> [Show less]</a>
                                              <span ng-if="$first || item.showEg || showEg" ng-bind-html="parseSentence(eg)"></span>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>

                                    <td class="alpha info-column">
                                    <!-- For all other cases, label is 'at the very least' styled as label-default. -->
                                      <div
                                        class="label label-default"
                                        ng-class="{
                                        'label-primary': item.pos === 'noun'
                                          || item.pos === 'proper noun',
                                        'label-warning': item.pos === 'particle',
                                        'label-success': item.pos === 'verb',
                                        'label-info': item.pos === 'adverb'
                                          || item.pos === 'conjunction'
                                          || item.pos === 'adjective'
                                        }"
                                        ng-bind="item.pos"></div>
                                      <div class="label label-default" ng-show="item.fundamental">f</div>
                                      <div class="label label-default" ng-show="item.n5">n5</div>
                                      <div class="label label-default" ng-show="item.n4">n4</div>
                                      <div class="label label-default" ng-show="item.n3">n3</div>
                                      <div class="label label-default" ng-show="item.n2">n2</div>
                                      <div class="label label-default" ng-show="item.n1">n1</div>
                                      <div class="label label-default" ng-show="!(item.n1 || item.n2 || item.n3 || item.n4 || item.n5 || item.fundamental)">+</div>
                                    </td>
                                    <!-- http://stackoverflow.com/questions/16134391/restrict-number-of-decimals-in-html5-type-number-input-field-with-angularjs-m -->
                                    <td class="number percent-column"  ng-bind="{{ 100 * item.iso | number : 2}} + '%'"/>
                                    <td class="number percent-column" ng-bind="{{ 100 * item.cumu | number : 2}} + '%'"/>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>


        <!-- The quiz (strictly only one of quizA or quizB) -->
        <section class="row">
          <div class="col-xs-12">
            <h1>Quiz score: <span ng-bind="calculateQuizScore(r)"></span></h1>
            <div class="panel panel-primary" ng-repeat="tier in r">
            <!-- <div class="panel panel-primary"> -->
              <div class="panel-heading">
                <!-- <h3 class="panel-title">Tier <span ng-bind="$index + 1"></span></h3> -->
                <h3 class="panel-title">

                  <span ng-switch="$index">
                    <span ng-switch-when="0"><span>Tier one: 50th percentile of word usage</span></span>
                    <span ng-switch-when="1"><span>Tier two: 50th-75th percentile of word usage</span></span>
                    <span ng-switch-when="2"><span>Tier three: 75th-88th percentile of word usage</span></span>
                    <span ng-switch-when="3"><span>Tier four: 88th-94th percentile of word usage</span></span>
                    <span ng-switch-default>Tier <span ng-bind="$index +1"/>: [undefined percentile of word usage]</span>
                  </span>

                </h3>
              </div>
              <div class="panel-body">
                Tier score: <span ng-bind="calculateTierScore(tier)"></span>

                <!-- Kanji test (all tiers) -->
                <div ng-repeat="test in tier.tests">
                  <div class="panel panel-default">
                    <div class="panel-heading"><span ng-bind="test.testType"></span> test</div>
                    <div class="panel-body">
                    <!-- <span><i>Answer the questions by dragging the appropriate choice into each question's answer slot.</i></span> -->
                      <!-- The list of infos -->
                      <div class="col-xs-6">
                        <h4>Questions</h4>
                          <ol>
                            <li ng-repeat="question in test.qus">
                              <span ng-bind="question.info"></span>

                              <!-- Buckets -->
                              <div class="simpleDemo well well-sm"> <!-- $index = that of 'question', or 'i' in tier.kanjiQuiz.qus[i] -->
                                <ul dnd-list="test.answers[$index].bucket"
                                    dnd-allowed-types="test.allowedTypes"
                                    dnd-disable-if="test.answers[$index].bucket.length >= 1">
                                    <!-- the bucket is an array of tentative answers. -->

                                    <li ng-repeat="bucketContent in test.answers[$index].bucket"
                                        dnd-draggable="bucketContent"
                                        dnd-type="test.eleType"
                                        dnd-moved="test.answers[$parent.$index].bucket.splice($index, 1)"
                                        dnd-effect-allowed="move"
                                        >
                                        {{bucketContent.target}}
                                    </li>

                                    <li class="dndPlaceholder">
                                        Drop any <strong>{{test.allowedTypes.join(' or ')}}</strong> here
                                    </li>
                                </ul>
                              </div>

                            </li>
                          </ol>
                          <span>Test score: </span>[<span ng-bind="calculateTestScore(test.qus, test.answers)"></span>]
                      </div>

                      <div class="col-xs-6">
                        <!-- The draggable list of targets -->
                        <h4>Choices</h4>
                        <div class="simpleDemo well well-sm">
                          <ul dnd-list="rw[$parent.$index].tests[$index].qus"
                              dnd-allowed-types="rw[$parent.$index].tests[$index].allowedTypes"
                              dnd-disable-if="rw[$parent.$index].tests[$index].qus.length >= rw[$parent.$index].tests[$index].qus.max">

                              <li ng-repeat="question in rw[$parent.$index].tests[$index].qus"
                                  dnd-draggable="question"
                                  dnd-type="rw[$parent.$parent.$index].tests[$parent.$index].eleType"
                                  dnd-moved="rw[$parent.$parent.$index].tests[$parent.$index].qus.splice($index, 1)"
                                  dnd-effect-allowed="move"
                                  >
                                  {{question.target}}
                              </li>

                              <li class="dndPlaceholder">
                                  Drop any <strong>{{rw[$parent.$index].tests[$index].allowedTypes.join(' or ')}}</strong> here
                              </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </section>
    </article>


<!--     <footer class="footer">
      <section class="row">
        <div class="col-xs-12">
          <div class="copyright panel panel-default">
            <div class="panel-body">
              <h3 class="my-panel-heading">Examples</h3>
              <p>
                <a href="javascript:void(0);" data-ng-click="submit('和')">和</a>
                <a href="javascript:void(0);" data-ng-click="submit('神')">神</a>
                <a href="javascript:void(0);" data-ng-click="submit('電')">電</a>
               </p>
            </div>
          </div>
        </div>
      </section>
    </footer> -->